extends ../layouts/LayoutDocumentation
append variables
  - var pageTitle = 'Changelog';
  - var activePage = 'changelog';
  - var pageDes = 'Evolution of your sparrow';

append mainContent
  .alert.alert-warning.p-4.mb-0(role='alert')
    .d-flex
      span.fab.fa-intentionally-kept.fs-3
      .flex-1.ms-3
        h4.alert-heading Before you update!
        p.mb-0 Backup your files and read the changelog before updating Falcon on your project. If you come across with any problems with Falcon template during the update, feel free to contact us at 
          a(href='mailto:support@themewagon.com') support@themewagon.com
          | .

  h3.mt-6 2.1.1 - Snowfinch
  p 03 Jan, 2023

  h5.mt-3 Update
  ul.bullet-inside.ps-0
    li Bootsrap version to 
      code 5.3.0-alpha1
    li Fancynav: Added CSS variables for fancynav at 
      code src/scss/theme/_fancynav.scss

  h5.mt-3 Fix
  ul.bullet-inside.ps-0
    li Minor bugs.

  h3.mt-6 2.1.0 - Sparrow weaver
  p 25 July, 2022

  h5.mt-3 Update
  ul.bullet-inside.ps-0
    li Bootsrap version to 
      code v5.2.0
    li All scss files
    li JS: 
      code src/js/isotope.js

    li SCSS: 
      code CSS variable for grays

    li SCSS: Removed 
      code src/scss/theme/_alert.scss 

    li SCSS: Removed 
      code src/scss/theme/_popover.scss 

  h5.mt-3 Fix
  ul.bullet-inside.ps-0
    li Border issues.
    li Ohter minor bugs.

  h3.mt-6 2.0.2 - Sociable weaver
  p 05 December, 2021

  h5.mt-3 Update
  ul.bullet-inside.ps-0
    li JS: 
      code src/js/fancynav.js
    li SCSS: 
      code src/scss/theme/_fancynav.scss

  h5.mt-3 Fix
  ul.bullet-inside.ps-0
    li Fancynav dropdown issue


  h3.mt-6 2.0.1 - Cinnamon ibon
  p 01 November, 2021

  h5.mt-3 Update
  ul.bullet-inside.ps-0

    li Bootsrap version updated from v5.1.1 to v5.1.3

    li Page: 
      code  public/index.html
    li Page: 
      code  pages/portfolio.html
    li Page: 
      code  public/components/sparrow/filter.html
    li Page: 
      code  public/components/sparrow/masonry.html
    li JS: 
      code src/js/isotope.js
    li SCSS: 
      code src/scss/theme/isotope.scss
    li SCSS: 
      code src/scss/theme/_variables.scss
    li JSON: 
      code package.json


  h5.mt-3 Fix
  ul.bullet-inside.ps-0
    li Page: 
      code  public/homes/interior.html
    li Other minor bugs


  h3.mt-6 2.0.0 - Rock Sparrow
  p 05 October, 2021

  h5.mt-3 New
  ul.bullet-inside.ps-0
    li Page: 
      code public/homes/digital.html
    li Page: 
      code public/homes/event.html
    li Page: 
      code public/homes/interior.html
    li Page: 
      code public/homes/landing.html
    li Page: 
      code public/homes/promotion.html
    li Page: 
      code public/homes/software.html
    li Page: 
      code public/homes/studio.html
    li Page: 
      code public/pages/blog.html
    li Page: 
      code public/pages/blog-single.html
    li Page: 
      code public/components/sparrow/fancynav.html
    li Page: 
      code public/components/sparrow/cookie-notice.html

    li JS: 
      code src/js/notice.js
    li JS: 
      code src/js/bootstrap-navbar.js

    li SCSS: 
      code src/scss/theme/_showcase.scss

  h5.mt-3 Update
  ul.bullet-inside.ps-0
    li JS: 
      code src/js/bg-player.js
    li JS:  
      code src/js/countdown.js
    li JS: 
      code src/js/countup.js
    li JS: 
      code src/js/drawsvg.js
    li JS: 
      code src/js/fancynav.js
    li JS: 
      code src/js/isotope.js
    li JS: 
      code src/js/preloader.js
    li JS: 
      code src/js/progressbar.js
    li JS: 
      code src/js/swiper.js
    li JS: 
      code src/js/theme.js
    li JS: 
      code src/js/zanimation.js


    li SCSS: 
      code src/scss/theme/_accordion.scss
    li SCSS: 
      code src/scss/theme/_avatar.scss
    li SCSS: 
      code src/scss/theme/_buttons.scss
    li SCSS: 
      code src/scss/theme/_card.scss
    li SCSS: 
      code src/scss/theme/_documentation.scss
    li SCSS: 
      code src/scss/theme/_dropdown.scss
    li SCSS: 
      code src/scss/theme/_fancynav.scss
    li SCSS: 
      code src/scss/theme/_forms.scss
    li SCSS: 
      code src/scss/theme/_loaders.scss
    li SCSS: 
      code src/scss/theme/_logos.scss
    li SCSS: 
      code src/scss/theme/_mixed.scss
    li SCSS: 
      code src/scss/theme/_notice.scss
    li SCSS: 
      code src/scss/theme/_reboot.scss
    li SCSS: 
      code src/scss/theme/_theme.scss
    li SCSS: 
      code src/scss/theme/_variables.scss
    li SCSS: 
      code src/scss/theme/plugins/_bigpicture.scss
    li SCSS: 
      code src/scss/theme/plugins/_swiper.scss
    li SCSS: 
      code src/scss/theme/root/_light.scss

    li Page:  
      code Removed public/components/sparrow/fancyscroll.html

    li JSON:  
      code vendors.json
    li JSON:  
      code package.json

  h3.mt-6 2.0.0-alpha2 - True Sparrow
  p 13 september, 2021

  h5.mt-3 New
  ul.bullet-inside.ps-0
    li Imagesloaded plugin added.
    li Coming soon pages structure updated.
    li Bigpicture plugin added.
    li Page: 
      code public/homes/bicycle.html
    li Page: 
      code public/homes/bigcartel.html
    li Page: 
      code public/homes/cafe.html
    li Page: 
      code public/homes/ecommerce.html

    li Page: 
      code public/pages/caseStudy.html
    li Page: 
      code public/pages/coming-soon.html
    li Page: 
      code public/pages/one-page.html
    li Page: 
      code public/pages/shop.html
    li Page: 
      code public/pages/product-single.html
    li Page: 
      code public/pages/split-youtube.html

    li page: 
      code src/js/countdown.js


    li SCSS: 
      code src/scss/theme/_logos.scss
    li SCSS: 
      code src/scss/theme/_loaders.scss
    li SCSS: 
      code src/scss/theme/_notice.scss
    li SCSS: 
      code src/scss/theme/_bg-player.scss
    li SCSS: 
      code src/scss/theme/plugins/_bigpicture.scss
    li SCSS: 
      code src/scss/theme/_isotope.scss

    li JS: 
      code src/js/countdown.js
    li JS: 
      code src/js/preloader.js
    li JS: 
      code src/js/bg-player.js



  h5.mt-3 Update
  ul.bullet-inside.ps-0
    li All previous pages slightly updated.
    li Page: 
      code public/pages/portfolio.html

    li SCSS: 
      code src/scss/theme/helpers/_background.scss
    li SCSS: 
      code src/scss/theme/_badge.scss
    li SCSS: 
      code src/scss/theme/_fancynav.scss
    li SCSS: 
      code src/scss/theme/_functions.scss
    li SCSS: 
      code src/scss/theme/_mixed.scss
    li SCSS: 
      code src/scss/theme/_mixins.scss
    li SCSS: 
      code src/scss/theme/_popover.scss
    li SCSS: 
      code src/scss/theme/_theme.scss
    li SCSS: 
      code src/scss/theme/_variables.scss

    li JS: 
      code src/js/fancynav.js
    li JS: 
      code src/js/isotope.js
    li JS: 
      code src/js/progressbar.js

    li JSON: 
      code vendors.json
    li JSON: 
      code gulp/gulp.json
    li JSON: 
      code package.json

    li Plugin: 
      code glightbox 
      | plugin deleted.
    li Scss: 
      code src/scss/theme/mixins/_breakpoints.scss
    li Scss: 
      code src/scss/theme/mixins/_utilities.scss


  h3.mt-6 2.0.0-alpha1 - initial release
  p 19 August, 2021
  p Nothing to see here!

