extends ../layouts/LayoutDocumentation
include ../mixins/documentation/GettingStarted.pug
append variables
  - var pageTitle = 'Customization';
  - var activePage = 'customization';
  - var pageDes = 'Because you are unique';

append mainContent
  p We recommend you customize your theme styles using the user style files. You can customize the theme’s styles with the following approaches:

  h3.mt-5(data-anchor) Gulp based workflow

  h4.mt-4 
    code user.scss
  p You can add your own SCSS and override the theme style in the 
    code src/scss/user.scss
    |  file

  h4.mt-4 
    code _user-variables.scss
  p To make broader changes to the design of the theme, such as changing the color scheme or font sizes, use 
    code scss/_user-variables.scss
    | . Any variable from 
    code scss/bootstrap/_variables.scss 
    |  or 
    code scss/custom/_variables.scss
    |  can be overridden with your own value.

  h3.mt-5(data-anchor) If you are not using Gulp based workflow

  h4.mt-4 
    code user.css
  p You can add your own SCSS and override the theme style in the 
    code public/assets/css/user.css
    |  file