/* prettier-ignore */
@use 'sass:math';
@import 'colors';
$prefix: 'sparrow-';
// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
// scss-docs-start container-max-widths
$container-max-widths: () !default;
$container-max-widths: map-merge(
  (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
  ),
  $container-max-widths
);

$grid-breakpoints: () !default;
$grid-breakpoints: map-merge(
  (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1540px,
  ),
  $grid-breakpoints
);

//*-----------------------------------------------
//|   Gutter
//-----------------------------------------------*/
$grid-gutter-width: 2rem !default;



// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark: $gray-800 !default;

// Min contrast ratio
$min-contrast-ratio: 2 !default;



//*-----------------------------------------------
//|   Border 
//-----------------------------------------------*/
$border-color: map-get($grays, '300') !default;
$border-width: 1px !default;

$border-styles : (
  dotted: 'dotted !important',
  dashed: 'dashed !important',
  none: 'none !important',
  hidden: 'hidden !important',
) !default;
// Options
//
// Quickly modify global styling by enabling or disabling optional features.


//*-----------------------------------------------
//|   Shadow
//-----------------------------------------------*/

$box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07) !default;
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075) !default;
$box-shadow-lg: 0 1rem 4rem rgba($black, 0.175) !default;
$box-shadow-inset: inset 0 1px 2px rgba($black, .075) !default;

//*-----------------------------------------------
//|   Spacing
//----------------------------------------------

$spacer: 1rem !default;
$spacers: () !default;

$spacers: map-merge(
  (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.8,
    5: $spacer * 3,
    6: $spacer * 4,
    7: $spacer * 5,
    8: $spacer * 7.5,
    9: $spacer * 10,
    10: $spacer * 12.5,
    11: $spacer * 15
  ),
  $spacers
);

//*-----------------------------------------------
//|   Body
//-----------------------------------------------*/

$body-bg: $white !default; 
$body-color: map-get($grays, '700') !default;

//*-----------------------------------------------
//|   Link
//-----------------------------------------------*/
$link-decoration: none !default;
$link-hover-decoration: underline !default;
$link-shade-percentage: 20% !default;
$link-color: $primary !default;
$link-hover-color: shift-color($link-color, $link-shade-percentage) !default;

//*-----------------------------------------------
//|   Components
//-----------------------------------------------*/
$border-radius: 0.1875rem !default;
$border-radius-lg: 0.625rem !default;

//------- new -----------
// $border-radius-soft: 0.625rem !default; 
$border-radius-capsule: 3.125rem !default;
//*-----------------------------------------------
//|   Fonts Families
//-----------------------------------------------*/
$font-family-sans-serif: 'Lato', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$font-family-serif: 'PT Serif', Times, 'Times New Roman', Georgia, serif !default;

$font-family-base: var(--#{$prefix}font-serif) !default;

//*-----------------------------------------------
//|   Fonts
//-----------------------------------------------*/
$type-scale: 1.333;
$font-size-base: 1rem !default;
$font-sizes: () !default;

$font-sizes: () !default;
$font-sizes: (
  '-1': 0.75rem,
  0: 1rem,
  1: 1.333rem,
  2: 1.777rem,
  3: 2.369rem,
  4: 3.157rem,
  5: 4.199rem,
  6: 5.584rem,
  7: 7.427rem,
  8: 9.878rem,
);

$font-size-lg: map_get($font-sizes, 1) !default;
$font-size-sm:  map_get($font-sizes, '-1') !default;

$font-weight-thin: 100 !default;
$font-weight-lighter: 200 !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: 800 !default;
$font-weight-black: 900 !default;

$line-height-base: 1.45 !default;

$h1-font-size: map_get($font-sizes, 4) !default;
$h2-font-size: map_get($font-sizes, 3) !default;
$h3-font-size: map_get($font-sizes, 2) !default;
$h4-font-size: map_get($font-sizes, 1) !default;
$h5-font-size: map_get($font-sizes, 0) !default;
$h6-font-size: map_get($font-sizes, '-1') !default;

$headings-font-family: $font-family-sans-serif !default;
$headings-font-weight: $font-weight-black !default;
$headings-color: map-get($theme-colors, 'black') !default;



// scss-docs-start display-headings
$display-font-sizes: () !default;
$display-font-sizes: map-merge(
  (
    1: map_get($font-sizes, 8),
    2: map_get($font-sizes, 7),
    3: map_get($font-sizes, 6),
    4: map_get($font-sizes, 5),
    5: map_get($font-sizes, 4),
    6: map_get($font-sizes, 3),
  ),
  $display-font-sizes
);

$display-font-weight: $font-weight-black !default;
$display-line-height: 1 !default;
// scss-docs-end display-headings

$lead-font-size: $font-size-lg !default;
$lead-font-weight: $font-weight-normal !default;

$small-font-size: 75% !default;

$text-muted: $gray-500 !default; 

$blockquote-font-size: $font-size-lg !default;

//*-----------------------------------------------
//|   Accordion 
//-----------------------------------------------*/
$accordion-border-color: rgba($black, .125) !default;
$accordion-color: var(--#{$prefix}gray-1000) !default; //ntr 
$accordion-button-active-color: var(--#{$prefix}gray-1000) !default;
$accordion-button-active-bg: $white !default;
$accordion-bg: $white;
$accordion-icon-width: .6rem;
$accordion-icon-transform: rotate(90deg);
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#000'><path fill-rule='evenodd' d='m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/></svg>");
$accordion-button-active-icon:$accordion-button-icon;
$accordion-body-padding-x: 3rem;

//*-----------------------------------------------
//|   Tables
//-----------------------------------------------*/
$table-border-color: var(--#{$prefix}gray-300) !default;
$table-striped-order: even !default;
$table-cell-padding-y: 0.75rem !default;
$table-cell-padding-x: 0.75rem !default;
$table-group-separator-color: inherit !default;
$table-color:  var(--#{$prefix}gray-1100) !default;


//*-----------------------------------------------
//|   Buttons
//-----------------------------------------------*/
$btn-sparrow-box-shadow: 0 0 0 1px rgba(43, 45, 80, 0.1), 0 2px 5px 0 rgba(43, 45, 80, 0.08), 0 1px 1.5px 0 rgba($black, 0.07), 0 1px 2px 0 rgba($black, 0.08) !default; // Ntr
$btn-sparrow-hover-box-shadow: 0 0 0 1px rgba(43, 45, 80, 0.1), 0 2px 5px 0 rgba(43, 45, 80, 0.1), 0 3px 9px 0 rgba(43, 45, 80, 0.08), 0 1px 1.5px 0 rgba($black, 0.08), 0 1px 2px 0 rgba($black, 0.08) !default;

$btn-font-size-sm: $font-size-base * 0.875 !default; 

//*-----------------------------------------------
//|   Buttons and Forms 
//-----------------------------------------------*/
$input-btn-padding-y: 0.8rem !default;
$input-btn-padding-x: 2.5rem !default;

$input-btn-padding-y-sm: 0.4rem !default;
$input-btn-padding-x-sm: 1.2rem !default;

$input-btn-padding-y-lg: 1.2rem !default;
$input-btn-padding-x-lg: 5rem !default;

$btn-reveal-hover-shadow: 0 0 0 1px rgba(43, 45, 80, 0.1),
  0 2px 5px 0 rgba(43, 45, 80, 0.08), 0 1px 1.5px 0 rgba($black, 0.07),
  0 1px 2px 0 rgba($black, 0.08) !default;
$btn-font-weight: $font-weight-bold !default;

$btn-border-radius-lg: $border-radius;

//*-----------------------------------------------
//|   Forms 
//-----------------------------------------------*/
$input-disabled-bg: var(--#{$prefix}gray-200) !default;
$input-group-addon-bg: var(--#{$prefix}gray-200) !default;
$input-border-color: map-get($grays, '300') !default;
$input-color: map-get($grays, '900') !default;
$input-bg: $white !default;
$input-focus-border-color: var(--#{$prefix}input-focus-border-color) !default;
$form-file-button-bg: $gray-900 !default; //- Ntr
$form-file-button-color: $gray-300 !default;

$input-padding-x: $input-btn-padding-y !default;
$input-padding-x-sm: $input-btn-padding-y-sm !default;
$input-padding-x-lg: $input-btn-padding-y-lg !default;

//*-----------------------------------------------
//|   Z-index
//-----------------------------------------------*/

$zindex-sticky: 1015 !default;

/*-----------------------------------------------
|   Navigation 
------------------------------------------------*/
$navbar-dark-color: rgba($white, .7) !default;
$navbar-dark-hover-color: rgba($white, .8) !default;
$navbar-dark-active-color: $white !default;
$navbar-dark-disabled-color: rgba($white, .25) !default;
$navbar-light-color: rgba($black, .55) !default;
$navbar-light-hover-color: rgba($black, .9) !default;
$navbar-light-active-color: $black !default;
$navbar-light-disabled-color: rgba($black, .25) !default;
$navbar-font-size: $font-size-base * 0.8 !default;
$navbar-padding-y: map_get($spacers, 2) !default;
$navbar-padding-x: $spacer !default;
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.7%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !default;
$navbar-toggler-focus-width: 0;
$nav-tabs-link-active-bg:  var(--#{$prefix}white) !default;


/*-----------------------------------------------
|   Navbar Brand 
------------------------------------------------*/
$navbar-brand-font-size: map_get($font-sizes, 1) !default;
$navbar-brand-font-weight: $font-weight-bold !default;

//*-----------------------------------------------
//|   Dropdowns | Dropdown menu container and contents. 
//-----------------------------------------------*/

$dropdown-link-color: var(--#{$prefix}gray-700) !default;
$dropdown-link-hover-color: var(--#{$prefix}900) !default;
$dropdown-link-hover-bg: var(--#{$prefix}gray-200) !default;
$dropdown-divider-bg: var(--#{$prefix}gray-300) !default;

$dropdown-font-size: $navbar-font-size !default;
$dropdown-item-padding-y: map_get($spacers, 1) !default;
$dropdown-item-padding-x: map_get($spacers, 3) !default;
$dropdown-padding-y: map_get($spacers, 3) !default;


//*-----------------------------------------------
//|   Pagination  
//-----------------------------------------------*/
$pagination-padding-y:              .5rem !default;
$pagination-padding-x:              .75rem !default;
$pagination-padding-y-sm:           .25rem !default;
$pagination-padding-x-sm:           .5rem !default;
$pagination-padding-y-lg:           .75rem !default;
$pagination-padding-x-lg:           1.5rem !default;
$pagination-line-height:            1.25 !default;

$pagination-color: $black !default;
$pagination-border-color: var(--#{$prefix}gray-300) !default;

$pagination-hover-color: $white !default;
$pagination-hover-bg: $black !default;
$pagination-hover-border-color: $black !default;

$pagination-active-color: $white !default;
$pagination-active-bg: $black !default;
$pagination-active-border-color: $black !default;


//*-----------------------------------------------
//|   Cards 
//-----------------------------------------------*/

$card-spacer-y: map_get($spacers, 5) !default;
$card-spacer-x: map_get($spacers, 5) !default;
$card-title-spacer-y: map_get($spacers, 3) !default;
$card-border-width: 1px !default;
$card-border-radius: $border-radius !default;
$card-border-color: rgba($black, 0.125) !default;
$card-cap-bg: rgba($black, 0.03) !default;
$card-cap-padding-y: $spacer !default;
$card-cap-padding-x: 3rem !default;
$card-bg: $white !default;

//*-----------------------------------------------
//|   Tooltip 
//-----------------------------------------------*/

$tooltip-padding-y: .5rem !default;
$tooltip-font-size: map_get($font-sizes, '-1') !default;

//*-----------------------------------------------
//|   Badge 
//-----------------------------------------------*/
$badge-font-weight: $font-weight-black !default;
$badge-padding-y: 0.25em !default;
$badge-padding-x: 0.6em !default;
$border-radius-pill: 50rem;


//*-----------------------------------------------
//|   Modal 
//-----------------------------------------------*/
$modal-content-border-radius: $border-radius !default;
$modal-content-bg: $white !default;

$modal-backdrop-bg: var(--#{$prefix}gray-1100) !default;
$modal-backdrop-opacity: .9 !default;
$modal-fade-in-transform: scale(1) !default;
$modal-xs: 12.5rem !default;
$zindex-modal-backdrop: 10040 !default;
$zindex-modal: 10050 !default;


//*-----------------------------------------------
//|   Breadcrumbs 
//-----------------------------------------------*/
$breadcrumb-padding-x: 0 !default;
$breadcrumb-margin-bottom: 0 !default;
$breadcrumb-bg: 'transparent';
$breadcrumb-divider: quote("\00BB") !default;


//*=============================================
//|   Sparrow Specific
//=============================================

//*-----------------------------------------------
//|   Viewport Heights & Widths
//----------------------------------------------

$viewport-heights: () !default;
$viewport-heights: map-merge(
  (
    25: 25vh,
    50: 50vh,
    75: 75vh,
    100: 100vh,
  ),
  $viewport-heights
);

$viewport-widths: () !default;
$viewport-widths: map-merge(
  (
    25: 25vw,
    50: 50vw,
    75: 75vw,
    100: 100vw,
  ),
  $viewport-widths
);

$sizes: () !default;
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto,
  ),
  $sizes
);

//*-----------------------------------------------
//|   Scrollbar
//-----------------------------------------------*/
$scrollbar-bg: rgba($gray-400, 0.55) !default;


//*-----------------------------------------------
//|   Fancynav
//-----------------------------------------------*/
$fancynav-width: 4.375rem !default;
$fancynavHeight: 3rem !default;
$fancynav-link-color: $white !default;
$fancynav-collapse-bg: $black !default;
$fancynav-togglerbar-bg: $black !default;

